 <header>
        <div class="container" id="nav-container">
            <nav class="navbar navbar-expand-lg fixed-top">
                <a href="#" class="navbar-brand">
                    <img id="logo" src="img/LAVANDA1.jpg" alt="BLAUNDRY">BLAUNDRY
                </a>
                <BUtton class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-link" aria-controls="navbar-link" area-expanded="false" area-label="toggle-navegation">
                    <span class="navbar-toggler-icon"></span>
                </BUtton>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-link">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" id="home-menu" href="/">Home</a>
                        <a class="nav-item nav-link" id="about-menu" href="sobreempresa">Sobre a Empresa</a>
                        <a class="nav-item nav-link" id="servico-menu" href="lavanderia">Lavanderia</a>
                        <a class="nav-item nav-link" id="perfil-menu" href="perfil">Perfil</a>
                        <a class="nav-item nav-link" id="contato-menu" href="contato">Fale Conosco</a>

                    </div>

                </div>



            </nav>

        </div>
    </header>