/* Geral */

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p,
li {
    color: white;
    font-size: 14px;
}


/* Barra de Navegação (navbar) */

header .navbar {
    background-color: black;
}

#nav-container {
    padding: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: whitesmoke;
}

.navbar-brand:hover {
    color: white;
}

#navbar-link a {
    color: white;
}

.navbar-expanded-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

#home-menu {
    text-transform: capitalize;
    border-radius: 30px;
    border: brown;
    transition: .5s;
}

#cadastro-menu {
    background-color: red;
    transition-property: none;
}


/* Slider */

.carouselExampleDark {
    padding: 0;
}

#carouselExampleDark .carousel-inner,
#carouselExampleDark .carousel-item {
    height: 90vh;
}

#carouselExampleDark .carousel-caption {
    top: 30%;
}

#carouselExampleDark .carousel-caption h3 {
    font-size: 50px;
    margin-bottom: 30px;
    color: brown;
}

#carouselExampleDark .carousel-caption p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 50px;
    color: blue;
}

#main-btn {}

;