<%- include ("./parciais/head.ejs") %>
    <body>
<%- include ("./parciais/navbar.ejs") %>

<br>
<br>
<br>
<br>

    <div>
            <label for="">E-mail</label>
            <input type="email" name="" value="">
            <label for="">Mensagem</label>
            <textarea rows="" cols="" placeholder="Escreva sua mensagem"></textarea>
            <button type="">Enviar</button>
    </div>
    </body>
<%- include ("./parciais/footer.ejs") %>