<%- include ("./parciais/head.ejs") %>
    <body>
<%- include ("./parciais/navbar.ejs") %>
    
        <div class="container">
        <div class="card" id="formulárioLavanderia">
            <div class="card-header">
                <h3>Função Maquina de Lavar</h3>
                <div class="card-body">
                    <form method="POST" action="/funcLavanda">
                        <div>
                        <h4>Escolha o Nível da Agua</h4>
                            <label>Baixo</label>
                            <input type="checkbox" nome="nivelAgua" value="" placeholder="" >
                            <label>Medio</label>
                            <input type="checkbox" nome="nivelAgua" value="" placeholder="" >
                             <label>Alto</label>
                            <input type="checkbox" nome="nivelAgua" value="" placeholder="" >
                             <label>Edredon</label>
                            <input type="checkbox" nome="nivelAgua" value="" placeholder="" >
                        </div>              
                        <hr>
                        <div>
                        <h4>Escolha o tipo de Lavagem</h4>
                            <label>Normal</label>
                            <input type="radio" nome="tipoLavagem" value="" placeholder="">
                            <label>Pesada-Jeans</label>
                            <input type="radio" nome="tipoLavagem" value="" placeholder="">
                            <label>Tira Manchas</label>
                            <input type="radio" nome="tipoLavagem" value="" placeholder="">
                            <label>limpeza de cesto</label>
                            <input type="radio" nome="tipoLavagem" value="" placeholder="">
                            <label>Rápido</label>
                            <input type="radio" nome="tipoLavagem" value="" placeholder="">
                            <label>Tênis</label>
                            <input type="radio" nome="tipoLavagem" value="" placeholder="">
                            <label>Edredom</label>
                            <input type="radio" nome="tipoLavagem" value="" placeholder="">
                            <label>Pretas</label>
                            <input type="radio" nome="tipoLavagem" value="" placeholder="">
                            <label>Coloridas</label>
                            <input type="radio" nome="tipoLavagem" value="" placeholder="">
                            <label>Brancas</label>
                            <input type="radio" nome="tipoLavagem" value="" placeholder="">
                            <label>Cama e banho</label>
                            <input type="radio" nome="tipoLavagem" value="" placeholder="">
                            <label>Delicado</label>
                            <input type="radio" nome="tipoLavagem" value="" placeholder="">
                        </div>
                        <div>
                        <br>
                            <button class="btn btn-primary">Calcular</button>                                                     
                            <button class="btn btn-dark">Adicionar</button>
                            
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>
        
    </div>
    <script src="js/scripts.js"></script>
    </body>
</html>