<%- include ("./parciais/head.ejs") %>
    <body>
<%- include ("./parciais/navbar.ejs") %>
<br>
<br><br>
<br>
<h1>sobre a empresa</h1>
<h2>Pagina em construção</h2>

    <script src="js/scripts.js"></script>
    </body>
</html>